@if (Units.Count == 0)
{
    <div>Loading.....</div>
    return;
}
<table>
    <tr>
        <td><b>Attacking Unit</b></td>
        <td><b>Defending Unit</b></td>
        <td><b>Damage Type</b></td>
        <td><b>True DPA</b></td>
        <td><b>Number Of Animations</b></td>
    </tr>
    @foreach (var unit in Units)
    {
        <tr>
            <td>@unit.AttackingUnit</td>
            <td>@unit.DefendingUnit</td>
            <td>@unit.DamageTypeString</td>
            <td>@Math.Round(unit.TrueDPA, 4)</td>
            <td>@Math.Round(unit.NumberOfAnimations, 4)</td>
        </tr>
    }
</table>