@if (Units.Count == 0)
{
    <div>Loading.....</div>
    return;
}
<table>
    <tr>
        <td class="firstTable headerpopuptable"><b>Attacking Unit</b></td>
        <td class="centeredTable headerpopuptable"><b>Defending Unit</b></td>
        <td class="centeredTable headerpopuptable"><b>Damage Type</b></td>
        <td class="centeredTable headerpopuptable"><b>Charge DPS</b></td>
        <td class="centeredTable headerpopuptable"><b>True DPA</b></td>
        <td class="centeredTable headerpopuptable"><b>Number Of Animations</b></td>
    </tr>
    @foreach (var unit in Units)
    {
        <tr>
            <td class="firstTable">@unit.AttackingUnit</td>
            <td class="centeredTable">@unit.DefendingUnit</td>
            <td class="centeredTable">@unit.DamageTypeString</td>
            <td class="centeredTable">@unit.ChargeDamage</td>
            <td class="centeredTable">@Math.Round(unit.TrueDPA, 4)</td>
            <td class="centeredTable">@Math.Round(unit.NumberOfAnimations, 4)</td>
        </tr>
    }
</table>