@if (Units.Count == 0)
{
    <div>Loading.....</div>
    return;
}
<table>
    <tr>
        <td class="firstTable"><b>Full Unit Name</b></td>
        <td class="centeredTable"><b>Hand DPS</b></td>
        <td class="centeredTable"><b>Cavalry DPS</b></td>
        <td class="centeredTable"><b>Ranged DPS</b></td>
        <td class="centeredTable"><b>Siege Melee DPS</b></td>
        <td class="centeredTable"><b>Siege Ranged DPS</b></td>
        <td class="centeredTable"><b>Hand DPA</b></td>
        <td class="centeredTable"><b>Cavalry DPA</b></td>
        <td class="centeredTable"><b>Ranged DPA</b></td>
        <td class="centeredTable"><b>Siege Melee DPA</b></td>
        <td class="centeredTable"><b>Siege Ranged DPA</b></td>
        <td class="centeredTable"><b>Charge DPA</b></td>
    </tr>
    @foreach (var unit in Units)
    {
        <tr>
            <td class="firstTable">@unit.FullName</td>
            <td class="centeredTable">@unit.HandDPS</td>
            <td class="centeredTable">@unit.CavalryDPS</td>
            <td class="centeredTable">@unit.RangedDPS</td>
            <td class="centeredTable">@unit.SiegeMeleeDPS</td>
            <td class="centeredTable">@unit.SiegeRangedDPS</td>
            <td class="centeredTable">@unit.HandDPA</td>
            <td class="centeredTable">@unit.CavalryDPA</td>
            <td class="centeredTable">@unit.RangedDPA</td>
            <td class="centeredTable">@unit.SiegeMeleeDPA</td>
            <td class="centeredTable">@unit.SiegeRangedDPA</td>
            <td class="centeredTable">@unit.ChargeDPA</td>
        </tr>
    }
</table>