@if (Units.Count == 0)
{
    <div>Loading.....</div>
    return;
}
<table>
    <tr>
        <td class="firstTable"><b>Full Unit Name</b></td>
        <td class="centeredTable"><b>HP</b></td>
        <td class="centeredTable"><b>Melee Infantry Armor</b></td>
        <td class="centeredTable"><b>Cavalry Armor</b></td>
        <td class="centeredTable"><b>Pierce Armor</b></td>
        <td class="centeredTable"><b>Crush Armor</b></td>
        <td class="centeredTable"><b>Bonus Damage Protection</b></td>
    </tr>
    @foreach (var unit in Units)
    {
        <tr>
            <td class="firstTable">@unit.FullName</td>
            <td class="centeredTable">@unit.HitPoints</td>
            <td class="centeredTable">@Math.Round(unit.ArmorHand, 4)</td>
            <td class="centeredTable">@Math.Round(unit.ArmorCavalry, 4)</td>
            <td class="centeredTable">@Math.Round(unit.ArmorRanged, 4)</td>
            <td class="centeredTable">@Math.Round(unit.ArmorSiege, 4)</td>
            <td class="centeredTable">@Math.Round(unit.BasicUnit.BonusDamageProtection, 4)</td>
        </tr>
    }
</table>